.footer-detail {
  background-color: var(--white);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-detail__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-detail__info p {
  color: var(--grey);
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 698px) {
  .footer-detail__info {
    display: none;
  }
  .footer-detail__button-apply {
    width: 100% !important;
  }
}
