.header-container {
  background-image: url('../../assets/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  padding-bottom: 70px;
  padding-top: 25px;
  background-size: cover;
  border-bottom-left-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  position: relative;
}
