.toggle-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-content {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: aliceblue;
  height: 25px;
  width: 50px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.toggle-content::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: var(--violet);
  transition: 0.3s all ease-in;
}

.toggle-content:checked::before {
  transform: translateX(23px);
}
