@import url('./styles/button.css');

/* Colors */
:root {
  /*Primary Colors*/

  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;

  /*Secondary Colors*/
  --white: #ffffff;
  --light-gray: #f4f6f8;
  --grey: #979797;
  --dark-grey: #6e8098;
}

/* Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--light-gray);
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

/* utility class */
.global-container {
  width: 1200px;
  margin: 0 auto;
}
.container-detail {
  width: 900px;
  margin: 0 auto;
}

.global-spacing {
  margin: 20px 0;
}

/* media */

@media (max-width: 1321px) {
  .global-container {
    width: 90%;
  }
}
@media (max-width: 1015px) {
  .container-detail {
    width: 90%;
  }
}
